# CREATE A CSV FILE FOR ONCOANALYSER PIPELINE so it contains this structure:

group_id,subject_id,sample_id,sample_type,sequence_type,filetype,filepath
patient1_grp1,patient1,AB9766,normal,dna,bam,/workspace/nobackup/sjd_seq/melos/sarek_results/preprocessing/recalibrated/AB9766/AB9766.recal.bam
patient1_grp1,patient1,AB9767,tumor,dna,bam,/workspace/nobackup/sjd_seq/melos/sarek_results/preprocessing/recalibrated/AB9767/AB9767.recal.bam
patient1_grp2,patient1,AB9766,normal,dna,bam,/workspace/nobackup/sjd_seq/melos/sarek_results/preprocessing/recalibrated/AB9766/AB9766.recal.bam
patient1_grp2,patient1,AX4967,tumor,dna,bam,/workspace/nobackup/sjd_seq/melos/sarek_results/preprocessing/recalibrated/AX4967/AX4967.recal.bam

## 1) For the melanoma and sarcoma samples

In [5]:
bam_blood = "/workspace/projects/sjd_melos/var_call_output/sarek_results/preprocessing/recalibrated/AB9766/AB9766.recal.bam"
bam_mel = "/workspace/projects/sjd_melos/var_call_output/sarek_results/preprocessing/recalibrated/AB9767/AB9767.recal.bam"
bam_sar = "/workspace/projects/sjd_melos/var_call_output/sarek_results/preprocessing/recalibrated/AX4967/AX4967.recal.bam"
import pandas as pd

In [4]:
data = [['patient1_grp1','patient1','AB9766','normal', 'dna', 'bam', bam_blood], ['patient1_grp1','patient1','AB9767','tumor', 'dna', 'bam', bam_mel], ['patient1_grp2','patient1','AB9766','normal', 'dna', 'bam', bam_blood],['patient1_grp2','patient1','AX4967','tumor', 'dna', 'bam', bam_sar]]

input_df = pd.DataFrame(data, columns=['group_id', 'subject_id','sample_id','sample_type','sequence_type','filetype','filepath'])
input_df

,group_id,subject_id,sample_id,sample_type,sequence_type,filetype,filepath
0,patient1_grp1,patient1,AB9766,normal,dna,bam,/workspace/projects/sjd_melos/var_call_output/...
1,patient1_grp1,patient1,AB9767,tumor,dna,bam,/workspace/projects/sjd_melos/var_call_output/...
2,patient1_grp2,patient1,AB9766,normal,dna,bam,/workspace/projects/sjd_melos/var_call_output/...
3,patient1_grp2,patient1,AX4967,tumor,dna,bam,/workspace/projects/sjd_melos/var_call_output/...

In [ ]:
# Export to CSV
input_df.to_csv('/workspace/nobackup/sjd_seq/melos/oncoanalyser_results/input.csv',index=False)

## 2) For the lung sample

In [1]:
bam_lung = "/workspace/projects/sjd_melos/var_call_output/sarek_results/preprocessing/recalibrated/AX4941/AX4941.recal.bam"

In [6]:
data2 = [['patient1_grp3','patient1','AB9766','normal', 'dna', 'bam', bam_blood], ['patient1_grp3','patient1','AX4941','tumor', 'dna', 'bam', bam_lung]]

input2_df = pd.DataFrame(data2, columns=['group_id', 'subject_id','sample_id','sample_type','sequence_type','filetype','filepath'])
input2_df

,group_id,subject_id,sample_id,sample_type,sequence_type,filetype,filepath
0,patient1_grp3,patient1,AB9766,normal,dna,bam,/workspace/projects/sjd_melos/var_call_output/...
1,patient1_grp3,patient1,AX4941,tumor,dna,bam,/workspace/projects/sjd_melos/var_call_output/...

In [9]:
# Export to CSV
input2_df.to_csv('/workspace/nobackup/melups/input_2.csv',index=False)